{{template "base" .}}

{{define "content" }}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-5">Test microservices</h1>
      <hr>
      <button id="brokerBtn" class="btn btn-outline-secondary">Test Broker</button>
      <button id="authBtn" class="btn btn-outline-secondary">Test Auth</button>
      <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
        <span class="text-muted">Output shows here...</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4 class="mt-5">Sent</h4>
      <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
        <pre id="payload"><span class="text-muted">Nothing sent yet...</span></pre>
      </div>
    </div>
    <div class="col">
      <h4 class="mt-5">Received</h4>
      <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
        <pre id="received"><span class="text-muted">Nothing received yet...</span></pre>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "js"}}
<script>
  const brokerBtn = document.getElementById('brokerBtn');
  const authBtn = document.getElementById('authBtn');
  const output = document.getElementById('output');
  const payload = document.getElementById('payload');
  const recieved = document.getElementById('received');


  brokerBtn.onclick = () => {
    fetch("http://localhost:8080", {
      method: "POST",
    })
      .then(response => response.json())
      .then(data => {
        payload.innerHTML = "Empty post request"

        recieved.innerHTML = JSON.stringify(data, null, 2)

        if (data.error) {
          output.innerHTML = `<span class="text-danger">${data.error}</span>`
        } else {
          output.innerHTML = `<span class="text-success">${data.message}</span>`
        }
      })
      .catch(error => {
        output.innerHTML = `<span class="text-danger">${error}</span>`
      })
  }

  authBtn.onclick = () => {

    const payloadData = {
      action: "auth",
      auth: {
        email: "admin@example.com",
        password: "verysecret",
      }
    }

    fetch("http://localhost:8080/handle", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(payloadData),
    })
      .then(response => response.json())
      .then(data => {
        payload.innerHTML = JSON.stringify(payloadData, null, 2)

        recieved.innerHTML = JSON.stringify(data, null, 2)

        if (data.error) {
          output.innerHTML = `<span class="text-danger">${data.error}</span>`
        } else {
          output.innerHTML = `<span class="text-success">${data.message}</span>`
        }
      })
      .catch(error => {
        output.innerHTML = `<span class="text-danger">${error}</span>`
      })
  }

</script>
{{end}}
